@import "../../sass/variables.scss";

.intro-block {
    padding: 100px 0 250px 0;
    text-align: center;
    background-color: $blue;
}

.intro-block-title {
    color: $white;
    font-family: $poppins;
    font-size: 52px;
    font-weight: 500;
    margin: 0 0 40px 0;
    line-height: 1.2em;
    text-transform: lowercase;

    span {
        font-weight: 900;
    }
}